.carousel h3 {
    text-align: center;
}

.carousel__viewport {
    display: flex;
    gap: 2rem;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-padding: 0 2rem;
    padding: 2rem 2rem;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.carousel__viewport::-webkit-scrollbar {
    display: none;
}

.carousel__slide {
    position: relative;
    flex: 0 0 80%;
    scroll-snap-align: center;
    background: transparent;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.carousel__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}


.carousel__navigation {
    text-align: center;
    margin-top: 1rem;
}

.carousel__navigation-button {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background: #ccc;
    border-radius: 50%;
    display: inline-block;
    transition: background 0.3s;
}

.carousel__navigation-button:focus,
.carousel__navigation-button:hover {
    background: #000;
}